type gxp_logging, domain;
type gxp_logging_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(gxp_logging)

# The logging service accesses /dev/gxp
allow gxp_logging gxp_device:chr_file rw_file_perms;

# Allow logging service to access /sys/class/gxp
allow gxp_logging sysfs_gxp:dir search;
allow gxp_logging sysfs_gxp:file rw_file_perms;

# Allow logging service to log to stats service for reporting metrics.
allow gxp_logging fwk_stats_service:service_manager find;
binder_call(gxp_logging, system_server);
binder_use(gxp_logging)

# Allow logging service to read gxp properties.
get_prop(gxp_logging, vendor_gxp_prop)

# Allow gxp tracing service to send packets to Perfetto
userdebug_or_eng(`perfetto_producer(gxp_logging)')
