on property:vendor.device.modules.ready=1
    chown system system /proc/goog_touch_interface
    chown system system /proc/goog_touch_interface/gti.0
    chown system system /proc/goog_touch_interface/gti.0/ms_base
    chown system system /proc/goog_touch_interface/gti.0/ms_diff
    chown system system /proc/goog_touch_interface/gti.0/ms_raw
    chown system system /proc/goog_touch_interface/gti.0/ss_base
    chown system system /proc/goog_touch_interface/gti.0/ss_diff
    chown system system /proc/goog_touch_interface/gti.0/ss_raw
