pixel_bugreport(dump_bcmbt)

userdebug_or_eng(`
  allow dump_bcmbt radio_vendor_data_file:dir create_dir_perms;
  allow dump_bcmbt radio_vendor_data_file:file create_file_perms;
  allow dump_bcmbt vendor_bt_data_file:dir r_dir_perms;
  allow dump_bcmbt vendor_bt_data_file:file r_file_perms;
  allow dump_bcmbt sscoredump_vendor_data_coredump_file:dir r_dir_perms;
  allow dump_bcmbt sscoredump_vendor_data_coredump_file:file r_file_perms;
  allow dump_bcmbt sscoredump_vendor_data_crashinfo_file:dir search;
')
