# Allow apps to read tflite DarwiNN delegate properties
get_prop(appdomain, vendor_tflite_delegate_prop)

# Allow apps to read DarwiNN runtime properties
get_prop(appdomain, vendor_edgetpu_runtime_prop)

# Allow apps to read hetero runtime properties
get_prop(appdomain, vendor_hetero_runtime_prop)
