# gpu_probe
type gpu_probe_exec, exec_type, vendor_file_type, file_type;
type gpu_probe, domain;

init_daemon_domain(gpu_probe)
allow gpu_probe gpu_device:chr_file rw_file_perms;

perfetto_producer(gpu_probe)
