add_hwservice(hal_bluetooth_btlinux, hal_bluetooth_coexistence_hwservice);
get_prop(hal_bluetooth_btlinux, boot_status_prop)

allow hal_bluetooth_btlinux sysfs_bluetooth_writable:file rw_file_perms;
allow hal_bluetooth_btlinux proc_bluetooth_writable:file rw_file_perms;
allow hal_bluetooth_btlinux hci_attach_dev:chr_file rw_file_perms;
allow hal_bluetooth_btlinux wb_coexistence_dev:chr_file rw_file_perms;
binder_call(hal_bluetooth_btlinux, servicemanager)

# power stats
vndbinder_use(hal_bluetooth_btlinux)
allow hal_bluetooth_btlinux hal_power_stats_vendor_service:service_manager find;
binder_call(hal_bluetooth_btlinux, hal_power_stats_default)

allow hal_bluetooth_btlinux sscoredump_vendor_data_crashinfo_file:dir create_dir_perms;
allow hal_bluetooth_btlinux sscoredump_vendor_data_crashinfo_file:file create_file_perms;

userdebug_or_eng(`
  allow hal_bluetooth_btlinux sscoredump_vendor_data_coredump_file:dir create_dir_perms;
  allow hal_bluetooth_btlinux sscoredump_vendor_data_coredump_file:file create_file_perms;
  allow hal_bluetooth_btlinux logbuffer_device:chr_file r_file_perms;
')
