type better_bug_app, domain, coredomain;

userdebug_or_eng(`
  app_domain(better_bug_app)
  net_domain(better_bug_app)
  allow better_bug_app app_api_service:service_manager find;
  allow better_bug_app system_api_service:service_manager find;
  allow better_bug_app privapp_data_file:file execute;
  allow better_bug_app mediaserver_service:service_manager find;
  get_prop(better_bug_app, default_prop);
  get_prop(better_bug_app, vendor_startup_bugreport_requested_prop)
')
