#
# USF file SELinux type enforcements.
#

type vendor_usf_stats, vendor_file_type, file_type;
type vendor_usf_reg_edit, vendor_file_type, file_type;

# Declare the sensor registry persist file type. By convention, persist file
# types begin with "persist_".
type persist_sensor_reg_file, file_type, vendor_persist_type;

# Declare the sensor registry data file type. By convention, data file types
# end with "data_file".
type sensor_reg_data_file, file_type, data_file_type;

# Declare the sensor debug data file type. By convention, data file types
# end with "data_file".
type sensor_debug_data_file, file_type, data_file_type;
