pixel_bugreport(dump_camera)

userdebug_or_eng(`
  allow dump_camera vendor_camera_data_file:dir r_dir_perms;
  allow dump_camera vendor_camera_data_file:file create_file_perms;
  allow dump_camera radio_vendor_data_file:dir create_dir_perms;
  allow dump_camera radio_vendor_data_file:file create_file_perms;
  get_prop(dump_camera, vendor_camera_debug_prop)
')
