type vendor_pcs_app, domain, coredomain;

# TODO(b/296512192): move vendor_pcs_app out of vendor sepolicy
typeattribute vendor_pcs_app vendor_seapp_assigns_coredomain_violators;

app_domain(vendor_pcs_app);

allow vendor_pcs_app {
    app_api_service
    audioserver_service
    cameraserver_service
    mediametrics_service
    mediaserver_service
    radio_service
}:service_manager find;

# Allow PCS to find the LyricConfigProvider service through ServiceManager.
allow vendor_pcs_app vendor_camera_lyricconfigprovider_service:service_manager find;
# Allow PCS to find the CameraIdRemapper service through ServiceManager.
allow vendor_pcs_app vendor_camera_cameraidremapper_service:service_manager find;

allow vendor_pcs_app hal_pixel_remote_camera_service:service_manager add;

binder_call(vendor_pcs_app, hal_camera_default);

binder_call(vendor_pcs_app, hal_pixel_remote_camera_service);
