pixel_bugreport(dump_syna)

allow dump_syna sysfs_touch:dir r_dir_perms;
allow dump_syna sysfs_touch:file rw_file_perms;
allow dump_syna vendor_toolbox_exec:file execute_no_trans;

get_prop(dump_syna, vendor_touch_dump_path_prop)

