service vendor.dumpstate-default /vendor/bin/hw/android.hardware.dumpstate-service
    class hal
    user system
    group system shell
    interface aidl android.hardware.dumpstate.IDumpstateDevice/default
