typeattribute brownout_detection_app coredomain;

userdebug_or_eng(`
  app_domain(brownout_detection_app)
  net_domain(brownout_detection_app)
  allow brownout_detection_app app_api_service:service_manager find;
  allow brownout_detection_app system_api_service:service_manager find;
')
