type hal_radio_ext, domain;
type hal_radio_ext_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(hal_radio_ext)

binder_call(hal_radio_ext, servicemanager)
add_service(hal_radio_ext, hal_radio_ext_service)

# Allow access to the backlight driver to set ssc_mode
allow hal_radio_ext sysfs_leds:dir search;
allow hal_radio_ext sysfs_leds:file rw_file_perms;
