type hal_keymint_citadel, domain;
type hal_keymint_citadel_exec, exec_type, vendor_file_type, file_type;

hal_server_domain(hal_keymint_citadel, hal_keymint)
init_daemon_domain(hal_keymint_citadel)
vndbinder_use(hal_keymint_citadel)
get_prop(hal_keymint_citadel, vendor_security_patch_level_prop)
allow hal_keymint_citadel citadeld_service:service_manager find;
binder_call(hal_keymint_citadel, citadeld)
