pixel_bugreport(dump_radio)

userdebug_or_eng(`
  allow dump_radio radio_vendor_data_file:dir create_dir_perms;
  allow dump_radio radio_vendor_data_file:file create_file_perms;
  allow dump_radio tcpdump_vendor_data_file:dir r_dir_perms;
  allow dump_radio tcpdump_vendor_data_file:file r_file_perms;
  get_prop(dump_radio, vendor_rild_prop)
  get_prop(dump_radio vendor_tcpdump_log_prop)
')
