pixel_bugreport(dump_devfreq)
allow dump_devfreq sysfs_cpu:file r_file_perms;
allow dump_devfreq sysfs_exynos_bts:dir r_dir_perms;
allow dump_devfreq sysfs_exynos_bts_stats:file r_file_perms;

