####################################################
#           init.insmod.common.cfg                 #
# This file contains common kernel modules to load #
# at init time by init.insmod.sh script            #
####################################################

# Load common kernel modules
# Modules here will be loaded *before* device specific modules
modprobe|system -b *
modprobe|vendor -b *
# All common modules loaded
setprop|vendor.common.modules.ready
